.header {
    padding: 1rem;
    margin: 1rem;
    height: 120vh;

    &__title {
        text-align: left;
        text-decoration: underline;
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3rem;
        padding: 2rem;
        margin: 2rem;
        color: rgb(197, 197, 223);
        height: 33vh;
        
    }

    &__profesion{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgb(197, 197, 223);
        margin-bottom: 8%;
        
    }

    &__navegation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-style: normal;
        font-size: 1.2rem;
        font-family: serif;
        font-weight: bold;
        text-align: center;
        line-height: 60px;
    
    }

    
    &__item {
   
        padding: 20px 30px;
        top: 0px;
        margin: 0.5rem;

        
       
    }

}

.card--img {
    opacity: 0.2;
    height: 150vh;
    width: 100%;
    
    
}

.card__title{
    font-family: 'Chakra Petch', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    margin: 5rem;
}

